.cache
.vscode
node_modules
package-lock.json
package.json
yarn.lock
build
build/
public
public/
dist
lib
__generated__
#src/App.css
#src/App.test.tsx
#src/App.tsx

src/react-app-env.d.ts
src/reportWebVitals.ts
src/setupTests.ts
